{% extends 'images/base.html'%}

{% block title %} Homepage {% endblock title%}

{% block content %}
        <h1> Dobrodošli na moj imgur </h1>
        <h1> imamo puno ({{count}}) slika </h1>

        <button><a href="/images"> vidi sve slike</a></button>
{% endblock content %}