{% extends 'images/base.html'%}

{% block title %} {{ image.title }} {% endblock title%}

{% block content %}
        <h1> Dobrodošli na izabranu sliku </h1>
        
        <h1> {{ image.title }} </h1>

        <h1> {{ image.created_at }} </h1>
        
        <p> {{ image.desc }} </p>

        <img src="{{ image.url }}" style="width: 600px">  </h1>
{% endblock content %}