{% extends 'images/base.html' %}

{% block content %}
<div>
    {% for image in images %}
        <p>
            <a href="{% url 'images:detail' image.id %}">
                {{ image.title }}
            </a>
        </p>
        <img src="{{ image.url }}"
             style="width: 200px;">
    {% endfor %}
</div>
{% endblock content %}