<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="{% url 'images:list' %}">Slike</a>
        <a href="{% url 'images:create' %}">Dodaj sliku</a>
    </div>
    <h1>Myimgur</h1>

    {% block content %}
    <p>Ovo je defaultni text</p>
    {% endblock content %}
</body>
</html>